@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

/* general styles */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: montserrat, sans-serif;
    text-align: center;
    background-color: #0e202b;
    padding:5px;
}

/* headings */

h1 {
    text-shadow: 0px 5px 20px  #abdfff;
    color:white;
    font-size: 2.5rem;
    padding-top:20px;
}

h2 {
    padding: 10px;
    font-size: 1.2rem;
    font-weight: 300;
}

/* paragraphs */

p {
    font-size: 1.2rem;
    padding: 10px;
}

/* buttons */

.btn {
    color: #abdfff;
    text-shadow: 0px 5px 20px  #abdfff;
    font-weight: 600;
    background-color:#0e202b;
    display:block;
    padding:10px;
    width:80%;
    min-width: 180px;
    margin:20px auto;
    font-family: montserrat, sans-serif;
    font-size: 1.2rem;
    border: none;
    border-radius: 20px;
    box-shadow: 0px 0px 15px 5px  #0e202b;
}

/* Answer area buttons in quiz */

#answer-area > .btn {
    color:#0e202b;
    background-color: white;
}

/* container divs */

.container {
    position: relative;
    background-color:#96c3cf;
    max-width: 650px;
    margin:40px 5px;
    padding:20px;
    border: 2px solid #abdfff;
    border-radius: 20px;
    box-shadow: 0px 0px 15px 5px  #abdfff;
}

/* rules modal styles */

#rules-heading {
    font-size: 2rem;
}

li {
    text-align:left;
    margin: 0 20px;
    padding:10px;
}

#close-rules {
    position: absolute;
    top: 20px;
    right:20px;
    padding: 0 10px;
    background-color: inherit;
    font-size:2rem;
    border: none;
    border-radius: 20px;
    float: right;
    font-family: montserrat, sans-serif;
}

/* style to hide modals */

.hide {
    display: none;
}

/* styles for correct and wrong answer buttons */

.correct-answer {
    color:black;
    background-color: #62ff00 !important;
    box-shadow: 0px 0px 15px 5px #0e202b ;
}

.wrong-answer {
    color:black;
    background-color: red !important;
    box-shadow: 0px 0px 15px 5px #0e202b ;
}

/* 
Style to prevent clicks in answer area when the no-pointer
class is applied.
*/

.no-pointer {
    pointer-events: none;
}

/* media queries */

/* for screens larger than 700px */

@media screen and (min-width: 700px) {

    h1{
        margin-top: 80px;
        font-size:4rem;
    }

    h2 {
        font-size: 1.4rem;
    }

    .container {
        margin:40px auto;
    }

    /* provides feedback when the user hovers over buttons */

    .btn:hover {
        border-color: #62ff00;
        color:#62ff00;
        box-shadow: 0px 0px 15px 5px  #62ff00;
    }

    #close-rules:hover {
        background-color: #0e202b;
        border-color: #62ff00;
        color:#62ff00;
        box-shadow: 0px 0px 15px 5px  #62ff00;
    }

    #answer-area > .btn:hover {
        background-color: #0e202b;
        color:#abdfff;
        box-shadow: 0px 0px 15px 5px  #abdfff;
    }

}
